img{
    float: right;
}
.yuhu{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
}
li{
    float: left;
}
li a{
    display: block;
    color: beige;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}
li a:hover:not{
    background-color: rgb(102, 95, 95);

}
.active{
    background-color: azure;
    
}