@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(252, 252, 252);
}

.left {
    width: 25vw;
    padding: 21px;
}

.right {
    width: 75vw;
    margin: 16px 0;
}

.home ul li {
    display: flex;
    width: 14px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
}

.hed {
    display: flex;
    gap: 10px;
    width: 100%;
    font-weight: bold;
    align-items: center;
    padding: 14px 2px 14px 2px;
}

.hed img {
    width: 28px;
}

.footer {
    display: flex;
    gap: 13px;
    width: 100%;
    font-size: 10px;
    position: absolute;
    bottom: 0;
}

.footer a {
    text-decoration: none;
    color: grey;
    padding: 4px;
}

.lb {
    min-height: 80vh;
    position: relative;
}

.hedd {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.hedd>* {
    padding: 20px;
}

.spotyplaylist {
    padding: 16px;
}

.spotyplaylist h1 {
    padding: 0px 0px 10px;
}

.spotyplaylist .card {
    width: 150px;

}

.caedcontrn {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 125px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}