@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

html, body {
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: background-color .2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(252, 252, 252);
}

.left {
    width: 25vw;
    padding: 21px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
   
}

.home ul li {
    display: flex;
    width: 14px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
}

.hed {
    display: flex;
    gap: 10px;
    width: 100%;
    font-weight: bold;
    align-items: center;
    padding: 14px 2px 14px 2px;
}

.hed img {
    width: 28px;
}

.footer {
    display: flex;
    gap: 13px;
    width: 100%;
    font-size: 10px;
    position: absolute;
    bottom: 0;
}

.footer a {
    text-decoration: none;
    color: grey;
    padding: 4px;
}

.lb {
    min-height: 80vh;
    position: relative;
}

.hedd {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 72px;
}

.hedd>* {
    padding: 20px;
}

.spotyplaylist {
    padding: 16px;
}

.spotyplaylist h1 {
    padding: 0px 0px 10px;
}

.spotyplaylist .card {
    width: 150px;

}

.caedcontrn {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: scroll;
    max-height: 60vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 125px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}
.button > *{
    margin: 0 12px;

}
.sbtn{
    background-color: rgb(34, 34, 34);
    color: rgb(148, 145, 145);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.sbtn:hover{
    font-size: 17px;
    color: white;
}
.lbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    width: 79px;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
}
.lbtn:hover{
  font-weight: bold;
  font-size: 17px;
}
.playbar{
    background-color: rgb(34, 34, 34);
    position: absolute;
    bottom: 0px;
    width: 90%;
    padding: 10px;
    width: 70vw;
    height: 40px;
    position: absolute;
    
}
.songbtn{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.songbtn img{
cursor: pointer;
}

.songlist{
    height: 344px;
    overflow: scroll;
    margin: 42px 0;
}
.songList .info {
    font-size: 13px;
    width: 344px;
}

.songlist ul{
    padding: 0 12px;
}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    width: 90%;
    justify-content: space-between;
}
.pnow{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pnow span{
    font-size: 15px;
    width: 64px;
    padding: 12px;
}
.info span{
    font-size: 15px;
    width: 64px;
    gap: 10px; 
    justify-content: center;
    align-items: center;
}
.seekbar{
    height: 4px;
    width: 98%;
    border: 2px solid rgb(164, 164, 164);
    position: absolute;
    bottom: 3px;
    border-radius: 10px;
    background-color: rgb(164, 164, 164);
    cursor: pointer;
}
.circle{
      width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -11px;
    left: -1%;
    margin: 6px;
    cursor: pointer;
    transition: left 0.5s;
}
.songinfo .songtime{
    color: black;
}
.abovebar{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1400px){
    .left{
        background: #1fdf64;
        position: absolute;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        width: 233px;
    }
}
