*{

    margin: 0;
    padding: 0;
    font: 1em sans-serif;
}

.container{
    margin: 11px;
    padding: 11px;
    background-color: rgb(226, 226, 226);
}


.noo{
    text-align: right;

}
.navbar{
    margin: 2px;
}